* {font-family:"Inter",sans-serif;text-decoration:none;box-sizing:border-box;}
body{scroll-behavior:smooth;margin:0;padding:0;}


/* form */
.input-form {width:100%;display:flex;flex-direction:column;margin:0 0 20px;}
input{color:#2E2E2E;box-sizing:border-box;font-size:14px;height:40px;padding:6px 12px;border:1px solid #00000029;box-shadow: 0px 0px 10px #00000029;letter-spacing: 0.4px;border-radius:6px;width:100%;}
textarea{resize:none;height:80px;padding:6px 12px;font-size:14px;line-height:1.4;box-shadow:0px 0px 10px #00000029;border-radius:4px;box-sizing: border-box;;border:1px solid #00000029;width: 100%;}
input:focus-visible,
textarea:focus-visible,
select:focus-visible{outline-color:skyblue !important;outline:1px solid;}
.error{color: #FF0000;font-size:14px;}

textarea.has-input-error,
input.has-input-error,
select.has-input-error{border-color:#FF0000 !important;}
textarea.has-input-error:focus-visible,
input.has-input-error:focus-visible,
select.has-input-error:focus-visible{outline-color:#FF0000 !important;outline: auto;}
.react-tel-input input.has-input-error{border:1px solid #FF0000 !important;}



.ti-popup-wrap{display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;left:0;bottom:0;z-index:999999;backdrop-filter:blur(2px);background-color:#0000003d;padding:0 20px;}
.ti-popup-wrap .back{position:absolute;top:0;right:0;left:0;bottom:0;}
.ti-popup-wrap .inner{background:#fff;width:100%;max-width:600px;padding:40px 60px;border-radius:12px;display:flex;flex-direction:column;position:relative;align-items:center;    max-height: 90vh;
    overflow: hidden auto;}
.ti-popup-wrap .inner .form-head{margin:0 0 20px;}
.ti-popup-wrap .inner .form-head span{font-size:16px;font-weight:600;margin:0 0 20px;}
.ti-popup-wrap .inner .close{position:absolute;top:30px;right:30px;background: none;border:none;cursor: pointer;}
.ti-popup-wrap .inner .body .form-group{width:100%;display:flex;flex:1;column-gap:20px;}
.body .form-group .input-form{width:100%;display:flex;flex-direction:column;margin:0 0 20px;}
.limit{margin:0;font-size:14px;color:#2e2e2e;}
.file-wrap{display:flex;align-items:center;justify-content:center;column-gap:20px;min-height:80px;border:1px solid #00000029;border-radius:6px;}
.upload-file{display:none;}
.upload-text{font-size:16px;color:#2e2e2e;}
.ti-popup-wrap .inner .browse{padding:0 25px;height:35px;background:#2e2e2e;color:white;border:none;cursor:pointer;border-radius:6px;transition:.2s;}
.ti-popup-wrap .inner .browse:hover{background:skyblue;}
.form-btn{text-align:center;}
.form-btn .apply-btn{padding:0 25px;height:35px;background:#2e2e2e;color:white;border:none;cursor:pointer;border-radius:6px;transition:.2s;}
.form-btn .apply-btn:hover{background:skyblue;color:#ffff;}
@media(max-width:767px){
    .ti-popup-wrap{padding:0 !important;align-items:flex-end !important;}
    .ti-popup-wrap .inner{padding:20px !important;border-radius:12px 12px 0 0 !important;}
    .ti-popup-wrap .inner .close{top: 18px;right: 4px}
    .ti-popup-wrap .inner .body{width: 100%;}
    .ti-popup-wrap .inner .body .form-group{display:flex;flex-direction:column;}
  }