.footerwrap{
  background-image: url("../../public/images/footer-bg.png");
  background-color: #F5F6F9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footertop{
  padding: 92px 20px 25px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap:100px;
}

.footertop .footerdetails{
  width:calc(33.33% - 66.7px);
  color: #6C8BA7;
}

.footerdetails .companeylogo{
  margin:0 0 30px;
}
.footerdetails .text{
  font-size: 16px;
  text-align: justify;
}
.footerdetails .detailsheading{
  font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    color: #101010;
    margin-bottom: 25px;
}
.footerdetails .footerlists .footerlist{
  margin-bottom: 12px;
  list-style: disc;
  color: #1589f1;
}
.footerlists .footerlist a{
  font-size: 16px;
    color: #454545;
}

.footerdetails .contactlist li{
  padding:0 0 15px;
  color: #454545;
}
.footerbottom{
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.4);
}
.footercopyright{
  max-width:1280px;
  margin: 0 auto;
  text-align: center;
  padding:0 20px;
}

@media(max-width:991px){
  .footertop{
    flex-direction: column;
    row-gap:30px;
  }
  .footertop .footerdetails{
    width:100%;
  }
  .footerdetails .text{
    max-width:700px;
  }
  .footerdetails .detailsheading{
      margin-bottom: 15px;
  }
  .footerdetails .footerlists{
    padding: 0 0 0 17px;
  }
  .footerdetails .contactlist li{
    padding:0 0 10px;
  }
}
@media(max-width:767px){
  .footertop{
    padding:50px 20px 25px;
  }
}