.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}

.headwrap {
  font-size: 16px;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
}

.contactwrap {
  display: flex;
  gap: 35px;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex: 1;
}

.contactheading {
  font-size: 24px;
  line-height: 30px;
  color: #4A4A4A;
  font-weight: 600;
}

.contacttext {
  font-size: 16px;
  color: #4A4A4A;
  margin: 0;
}

.contactcall {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.contactwrapinner {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid skyblue;
  padding: 20px;
}

.contactwrapinner span {
  border: 1px solid skyblue;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 14px;
  color: #4A4A4A;
}

.headingdetail {
  color:#2e2e2e;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.map {
  max-width: 681px;
  margin: 40px 0 0;
}

.map iframe {
  width: 100%;
}

.formGroup {
  width: 100%;
  display: flex;
  flex: 1;
  column-gap: 20px;
}
.error{color:#FF0000;font-size: 13px;}

.inputForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  position: relative;
}

.inputForm label {
  margin: 0 0 5px;
  font-size: 16px;
  color:#2e2e2e;
  letter-spacing: 0.4px;
}

.hasInputError {
  border-color: red !important;
}

.inputForm select {
  color:#2e2e2e;
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
  padding: 6px 12px;
  border: 1px solid #00000029;
  box-shadow: 0px 0px 10px #00000029;
  letter-spacing: 0.4px;
  border-radius: 6px;
  width: 100%;
  text-indent: 1px;
  text-overflow: '';
}

.inputForm select option {
  color:#2e2e2e;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Poppins';
}

.applybtn {
  padding: 0 25px;
  height: 35px;
  background:#2e2e2e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: .2s;
}

.applybtn:hover {
  background:skyblue;
  color: #ffffff;
}

.modal{
  position: fixed;
  inset: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalcontent {
  background: green;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.modalcontent .close {
  cursor: pointer;
  height: 17px;
}

.modalcontent p {
  color: #ffffff;
  margin: 0;
}

@media (max-width: 767px) {
  .contactwrap {
      flex-direction: column-reverse;
      row-gap: 30px !important;
  }
  .contactinfo .map {
      margin: 30px 0 0 !important;
  }

  .contactinfo .map iframe {
      height: 300px !important;
  }

  .contactinfo .form .formGroup .inputForm {
      margin: 0 0 12px !important;
  }
}

@media (max-width: 479px) {
  .contactwrap .contactinfo {
      row-gap: 4px !important;
  }

  .contactwrap .contactinfo .contactheading {
      font-size: 20px !important;
  }

  .contactwrap .contactinfo .contacttext {
      font-size: 15px !important;
  }

  .contactwrap .contactinfo .map {
      margin: 25px 0 0 !important;
  }

  .contactwrap .contactinfo .map iframe {
      height: 265px !important;
  }

  .contactwrap .contactinfo .contactcall .contactwrap .heading {
      width: 246px;
  }

  .contactwrap .contactinfo .form .formGroup .inputform label {
      font-size: 14px !important;
  }
  .contactwrap .contactinfo .form .formGroup  {
    flex-direction: column !important;
}
}
