
.headerwrap{
  background:url("../../public//images/bg.png");
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height:550px;
  overflow: hidden;
  position: relative;
}
.headsection{
  max-width:1280px;
  width: 100%;
  padding:190px 20px 0; 
  margin:0 auto;
  align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner{
  max-width: 800px;
  text-align: center;
}
.conversionmain{
  color: #294762;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.conversionmain span {
  color: #1589f1;
}
.conversiondescription {
  color: #6c8ba7;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0;
}
.conversioninquire {
  align-items: center;
  color: #1589f1;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;
}
.conversioninquire span {
  align-items: center;
  background-color: #6495ed;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
  width: 50px;
}
.workcategory{
  padding:50px 0;
  background: linear-gradient(to bottom, #ffffff 0, #d2ebfb 100%);
  position: relative;
}
.categorywrap{
  max-width:1280px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.leftside{
  flex: 0 0 auto;
  width: 33.33333333%;
  padding-right:20px;
}
.leftside .mainheading{
  background-color: #d5eaff;
  border-radius: 10px;
  color: #1589f1;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 30px;
  text-align: center;
  margin-bottom: 15px;
}
.leftside .submainheading{
  color: #294762;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.leftside .submainheading span {
  font-weight: 900;
}
.leftside .maindetails{
  color: #6c8ba7;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height:25px;
}
.rightside{
  flex: 0 0 auto;
  width: 66.66666667%;
  flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding-left:20px;
}
.rightside .item{
  width: calc(25% - 15px);
}
.rightside .item .inner{
  padding: 30px 20px;
  max-height: 170px;
  text-align: center;
  min-height: 170px;
  display: grid;
  align-items: center;
  border-radius: 8px 40px 8px 40px;
  box-shadow: 0 3.4px 2.7px -30px rgb(0 0 0 / 6%), 0 8.2px 8.9px -30px rgb(0 0 0 / 7%), 0 25px 40px -30px rgb(0 0 0 / 20%);
}
.rightside .item .inner svg{transition: all 1s ease-in-out;}
.rightside .item .title{
  color: #294762;
  line-height: 24px;
  font-size: 16px;
  margin: 5px 0 0;
}
.rightside .item:hover svg{transform: rotateY(360deg) rotateX(0);}
.rightside .item:first-child .inner{background-color: #7affdb;}
.rightside .item:nth-child(2) .inner{background-color: #70e4e8;}
.rightside .item:nth-child(3) .inner{background-color: #f5eb92;}
.rightside .item:nth-child(4) .inner{background-color: #a3ffe2;}
.rightside .item:nth-child(5) .inner{background-color:  #0f0;}
.rightside .item:nth-child(6) .inner{background-color: #e3ff8e;}
.rightside .item:nth-child(7) .inner{background-color: #ffa0c6;}
.rightside .item:nth-child(8) .inner{background-color: #0f0;}
.rightside .item:nth-child(9) .inner{background-color:#6CFFFA;}
.rightside .item:nth-child(10) .inner{background-color: #77BAFF;}
.rightside .item:nth-child(11) .inner{background-color:#FFEFD4;}
.rightside .item:nth-child(12) .inner{background-color: #7AFFDB;}

.workflowsection{
  padding: 60px 20px;
    text-align: center;
    max-width:1280px;
    margin:0 auto;
}
.workflowheader{
  background-color: #ebf5ff;
  border-radius: 10px;
  color: #5890ff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  padding: 10px 30px;
}
.workflowdescription {
  color: #294762;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.2;
}
.workflowdescription span{
  font-weight: 900;
}
.flowstep{
  align-items: center;
    column-gap: 50px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 1132px;
    padding: 20px;
}
.flow1 {
  background-color: #5890ff;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow2 {
  background-color: #ffb1bd;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow3 {
  background-color: #976af7;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow4 {
  background-color: #36cfef;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow5 {
  background-color: #62bf77;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow6 {
  background-color: #f77f31;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow7 {
  background-color: #f77f31;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workflowdetails{width: 100%;column-gap:30px;display: flex;max-width:1280px;margin:auto;flex-wrap:wrap;}
.workflowitem{width:calc(14.28% - 25.7px);}
.workflowitem:nth-child(1) {box-shadow: 0 15px 20px hsl(220deg 100% 69% / 44%);backface-visibility: hidden;border: 5px solid #e9f7ff;padding: 15px;border-radius: 20px;margin-top: 1rem;}
.workflowitem:nth-child(2) {box-shadow: 0 15px 20px hsl(220deg 100% 69% / 44%);backface-visibility: hidden;border: 5px solid #ffeef1;padding: 10px;border-radius: 20px;margin-top: 1rem;}
.workflowitem:nth-child(3) {box-shadow: 0 15px 20px hsl(220deg 100% 69% / 44%);backface-visibility: hidden;border: 5px solid #e9e1fc;padding: 15px;border-radius: 20px;margin-top: 1rem;}
.workflowitem:nth-child(4) {box-shadow: 0 15px 20px hsl(220deg 100% 69% / 44%);backface-visibility: hidden;border: 5px solid #88dd9c4d;padding: 15px;border-radius: 20px;margin-top: 1rem;}
.workflowitem:nth-child(5) {box-shadow: 0 15px 20px hsl(220deg 100% 69% / 44%);backface-visibility: hidden;border: 5px solid #d9f8ff;padding: 15px;border-radius: 20px;margin-top: 1rem;}
.workflowitem:nth-child(6) {box-shadow: 0 15px 20px hsl(220deg 100% 69% / 44%);backface-visibility: hidden;border: 5px solid #88dd9c4d;padding: 15px;border-radius: 20px;margin-top: 1rem;}
.workflowitem:nth-child(7) {box-shadow: 0 15px 20px hsl(220deg 100% 69% / 44%);backface-visibility: hidden;border: 5px solid #fd995930;padding: 15px;border-radius: 20px;margin-top: 1rem;}
.workflowitem:nth-child(1) .icon{font-size: 20px;color: #5890ff;font-weight: 600;text-align: left;}
.workflowitem:nth-child(2) .icon{font-size: 20px;color: #ffa0c6;font-weight: 600;text-align: left;}
.workflowitem:nth-child(3) .icon{font-size: 20px;color: #976af7;font-weight: 600;text-align: left;}
.workflowitem:nth-child(4) .icon{font-size: 20px;color: #36cfef;font-weight: 600;text-align: left;}
.workflowitem:nth-child(5) .icon{font-size: 20px;color: #62bf77;font-weight: 600;text-align: left;}
.workflowitem:nth-child(6) .icon{font-size: 20px;color: #f77f31;font-weight: 600;text-align: left;}
.workflowitem:nth-child(7) .icon{font-size: 20px;color: #f5eb92;font-weight: 600;text-align: left;}
.workflowitem .title {font-size: 13px;font-weight: 500;}

/* expertise-section */
.expertisesection {padding:20px;text-align:center;max-width:1280px;margin:0 auto;}
.expertisesection .expertisetitle{color: #5890ff;font-size: 16px;font-weight:700;background-color: #ebf5ff;display: inline-block;padding: 10px 30px;border-radius: 10px;margin-bottom:15px;}
.expertisesection .expertisedescription {font-weight: 300;font-size: 35px;color: #294762;line-height: 1.2;}
.expertisesection .expertisedescription span {font-weight: 900;}
.expertisesection .expertisedetails {padding:30px;display: flex;flex-direction: row;column-gap:30px;}
.expertisecategory1,
.expertisecategory2{display: flex;flex-direction: column;row-gap: 40px;}
.expertisecategory1 .categoryitem:nth-child(1) {background-color: #f2faff;height: 167px;border-radius: 20px;justify-content: center;align-items: center;text-align: center;display: flex;flex-direction: column; transition:.2s all;box-shadow: 0 0px 25px #1686f14d;}
.expertisecategory1 .categoryitem:nth-child(1):hover {background-color: #70e4e8;}
.expertisecategory1 .categoryitem:nth-child(2){background-color: #f2faff;height: 167px;border-radius: 20px;justify-content: center;align-items: center;text-align: center;display: flex;flex-direction: column; transition:.2s all;box-shadow: 0 0px 25px #1686f14d;}
.expertisecategory1 .categoryitem:nth-child(2):hover{background-color:#976af7;}
.expertisecategory1 .categoryitem:nth-child(3){background-color: #f2faff;height: 167px;border-radius: 20px;justify-content: center;align-items: center;text-align: center;display: flex;flex-direction: column; transition:.2s all;box-shadow: 0 0px 25px #1686f14d;}
.expertisecategory1 .categoryitem:nth-child(3):hover{background-color: #6c8ba7;}
.expertisecategory2 .categoryitem:nth-child(1){background-color: #f2faff;height: 167px;border-radius: 20px;justify-content: center;align-items: center;text-align: center;display: flex;flex-direction: column; transition:.2s all;box-shadow: 0 0px 25px #1686f14d;}
.expertisecategory2 .categoryitem:nth-child(1):hover {background-color:hsl(120, 10%, 50%);}
.expertisecategory2 .categoryitem:nth-child(2){background-color: #f2faff;height: 167px;border-radius: 20px;justify-content: center;align-items: center;text-align: center;display: flex;flex-direction: column; transition:.2s all;box-shadow: 0 0px 25px #1686f14d;}
.expertisecategory2 .categoryitem:nth-child(2):hover{background-color:hsl(10, 10%, 50%);}
.expertisecategory2 .categoryitem:nth-child(3){background-color: #f2faff;height: 167px;border-radius: 20px;justify-content: center;align-items: center;text-align: center;display: flex;flex-direction: column; transition:.2s all;box-shadow: 0 0px 25px #1686f14d;}
.expertisecategory2 .categoryitem:nth-child(3):hover{background-color:violet;}
.expertisecategory1 .categoryitem:hover .itemname,
.expertisecategory2 .categoryitem:hover .itemname{color:#fff;}
.expertisecategory1 .categoryitem:hover .itemskills,
.expertisecategory2 .categoryitem:hover .itemskills{color:#fff;}
.categoryitem .itemname{font-size: 24px;font-weight:700;color: #294762;}
.categoryitem .itemskills{font-size: 16px;color: #294762;font-weight: 500;padding:10px;}
.expertisedetails .expertiseimage .image {border-style: none;height: auto;max-width: 100%;object-fit: contain;width: 400px;height: 567px;vertical-align: middle;animation: move 3s infinite linear;}
@keyframes move {
    0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0); 
  }
}

/* statistics-container */
.statisticscontainer{background-image: url("../../public/images/projectbgwhite.png");background-size: cover;background-repeat: no-repeat;background-size: cover;background-color: #1589f1;}
.statisticscontainer .boxcontainer .boxwrap{display: flex;padding:70px 0;flex-wrap:wrap;column-gap:50px;justify-content: center;}
.statisticscontainer .boxcontainer .box {background-color: white;border-radius: 10px;width:calc(25% - 100px);height:200px;display: flex;flex-direction:column;align-items: center;justify-content: center;padding:0 20px;text-align:center;transition: all 1s;}
.statisticscontainer .boxcontainer .box:hover {cursor: pointer;transform: translateY(-15px);}
.statisticscontainer .boxcontainer .box .boxa {font-weight:400;font-size: 20px;color: #6c8ba7;margin-bottom: 5px;display: block;}
.statisticscontainer .boxcontainer .box span {color: #1589f1;font-size: 28px;font-weight: 600;}
.statisticscontainer .boxcontainer .box .iconwrap{width: 70px;height: 70px;border-radius:100%;display: flex;justify-content: center;align-items: center;}
.statisticscontainer .boxcontainer .box .iconwrap img{vertical-align: middle;max-width: 100%;width: auto;height: 30px;}
.statisticscontainer .boxcontainer .box.od{margin:20px 0 0;}

/* about-cj-section */
.aboutcjssection {padding:60px 20px;text-align:center;max-width:1280px;margin:0 auto;}
.aboutcjssection .cjwhy{background-color: #ebf5ff;color: #1589f1;font-weight:700;font-size: 16px;display: inline-block;padding: 10px 30px;margin-bottom:15px;border-radius: 10px;}
.aboutcjssection .cjsubdetails{font-size:34px;color: #294762;}
.aboutcjssection .cjsubdetails span {font-weight:700;display: flex;align-items: center;justify-content: center;}
.aboutcjssection .mainsection {display: flex;padding:20px 0;gap:20px;flex-wrap:wrap;max-width:1280px;margin:0 auto;}
.mainsection .sec3 {background-color: #f2faff;border-radius: 10px;font-weight: 600;border: 1px solid #ccc;padding: 30px;cursor: pointer;width:calc(25% - 15px);transition:.2s all;}
.mainsection .sec3:hover{border: 3px solid skyblue;}

@media(max-width:991px){
.headerwrap{
  height:450px;
}
.headsection{
  padding:130px 20px 0; 
}
.conversionmain{
  font-size:50px;
}
  .categorywrap{flex-direction: column;}
  .leftside{width:100%; padding:0;}
  .rightside{width:100%; padding:0;}
  .workflowdetails{gap:20px 30px;}
  .workflowitem{width:calc(25% - 22.7px);}
  .workflowdescription{font-size:34px;font-weight:300;}
  /* expertise-section */
  .expertisecategory1,
  .expertisecategory2{row-gap:20px;}
  .expertisecategory1 .categoryitem,
  .expertisecategory2 .categoryitem{height:130px !important;}
  .categoryitem .itemname{font-size:18px;}
  .categoryitem .itemskills{font-size:14px;}
  .expertisedetails .expertiseimage .image {height:430px;}
  .expertisesection .expertisedescription {font-size:34px;}
  /* statistics-container */
  .statisticscontainer .boxcontainer .boxwrap{padding:30px 0;column-gap:30px;}
  .statisticscontainer .boxcontainer .box {width:calc(30% - 100px);height:200px}
  .statisticscontainer .boxcontainer .box .boxa {font-size:16px;}
  .statisticscontainer .boxcontainer .box span {font-size:18px;}
  /* about-cj-section */
  .aboutcjssection .cjwhy{font-size: 16px;margin:0 0 15px;}
}
@media(max-width:767px){
  .headerwrap{
    height:430px;
  }
  .headsection{
    padding:120px 20px 0; 
  }
  .conversionmain{
    font-size:50px;
    margin:0 0 10px;
  }
  .conversiondescription{margin:0 0 15px;}
  .rightside .item{
    width: calc(33.33% - 15px);
  }
  .workflowsection{padding:50px 20px;}
    .workflowsection .flowstep .flow1,
    .workflowsection .flowstep .flow2,
    .workflowsection .flowstep .flow3,
    .workflowsection .flowstep .flow4,
    .workflowsection .flowstep .flow5,
    .workflowsection .flowstep .flow6,
    .workflowsection .flowstep .flow7{width:30px;height:30px;}
    .workflowsection .flowstep {column-gap:15px;}
    .workflowdetails{gap:20px 30px;}
    .workflowitem{width:calc(33.33% - 20.1px);}
    .workflowdescription{font-size:30px;font-weight:300;}
    /* expertise-section */
    .expertisecategory1,
    .expertisecategory2{row-gap:20px;}
    .expertisecategory1 .categoryitem,
    .expertisecategory2 .categoryitem{height:130px !important;}
    .categoryitem .itemname{font-size:18px;}
    .categoryitem .itemskills{font-size:14px;padding:10px 20px;}
    .expertisedetails .expertiseimage .image {height:430px;}
    .expertisesection .expertisedetails {flex-direction:column;row-gap:30px;max-width: 360px;margin:auto;padding:20px 0;}
    .expertisesection .expertisedescription {font-size:30px;}
    /* statistics-container */
    .statisticscontainer .boxcontainer .boxwrap{padding:60px 20px;gap:30px;}
    .statisticscontainer .boxcontainer .box {width:calc(33.33% - 60px);height:190px}
    .statisticscontainer .boxcontainer .box .boxa {font-size:16px;margin-top:10px;}
    .statisticscontainer .boxcontainer .box span {font-size:18px;}
    /* about-cj-section */
    .aboutcjssection {padding:50px 20px;}
    .mainsection .sec3 {width:calc(33.33% - 15px);}
  }

  @media(max-width:576px){
    .headerwrap{
      height:341px;
    }
    .headsection{
      padding:130px 20px 0; 
    }
    .conversionmain{
      font-size:32px;
    }
    .conversiondescription{font-size: 15px;}
    .conversioninquire span{width:40px;height:40px;font-size:22px;}
      .categorywrap{flex-direction: column;}
      .leftside{width:100%; padding:0;}
      .leftside .submainheading{font-size:22px;}
      .rightside .item{width:calc(50% - 10px);}
      .workflowdescription{font-size:22px;font-weight:300;}
      .workflowdetails{gap:20px 30px;}
      .workflowitem{width:calc(50% - 15.1px);}
      /* expertise-section */
      .expertisesection .expertisedescription {font-size:22px;}
      /* statistics-container */
      .statisticscontainer .boxcontainer .boxwrap{padding:30px 20px;column-gap:30px;}
      .statisticscontainer .boxcontainer .box {width:calc(50% - 35px);height:220px;row-gap:10px;}
      /* about-cj-section */
      .aboutcjssection .cjsubdetails .cjwhy{font-size: 16px;margin:0 0 15px;}
      .aboutcjssection .cjsubdetails{font-size:22px;}
      .aboutcjssection {padding:50px 20px;}
      .mainsection .sec3 {width:calc(50% - 10px);}

  }
  @media(max-width:479px){
    .workflowitem{width:100%;}
    .statisticscontainer .boxcontainer .box {width:100%;height:220px;row-gap:10px;}
    .mainsection .sec3 {width:100%;}

  }